<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bar Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="sourseChart" width="400px" height="200px"></canvas>

    <script>
        var ctx = document.getElementById('sourseChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:["Naukri", "Indeed", "Mail", "Whatsapp", "Foundit","Just Dial"],
                datasets: [{ 
                    label:'Source',
                    data:[100, 20, 30, 40, 50,25],
                    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
                    borderWidth: 0.5
                }]
            },
            options: {
            maintainAspectRatio: false,
            responsive: false,
            width: 100,
            height: 100,
            }
        });
    </script>
</body>
</html>
